*{
  padding: 0px;
  margin: 0px;
}
body{
    font-family: 'Rubik', sans-serif;
}
p{
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: rgb(105, 105, 105);
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
}
button.rec-dot{
    background-color: rgb(49, 97, 255);
    box-shadow: 0 0 1px 3px rgba(4, 22, 84, 0.808);
  }
  
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 1px 3px rgba(16, 235, 231, 0.5);
  }
  .rec.rec-arrow{
    background-color: rgb(228, 228, 228);
    width: 20px;
  }
  .rec.rec-arrow:hover {
    background-color: rgba(247, 247, 247, 0.445);
}
button {
  cursor: pointer;
}